/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --title-decor: #ff0070;
  --accent-font: "IBM Plex mono";
  --title-color: #db00ff;
  --background-image-set: url(../images/cover-image-dark.png);
  --accent-background:#000028;
  --text-color: #000028;
  --hover-color: #ff007066;
  --shadow-color: #ff0070;
  --article-text-color: #F1B2CE;
  --article-link-color: #ff0070;
  --shadow-color-title: #ff0070;
  --decoration-display: block;
}